$car-img-width: 300px;
$car-img-height: 200px;

$car-price-color: #f0a65a;
$car-main-info-color: #ff8100;

$menu-background-color: #ffc800;

.u-u {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
}

.u-img {
    margin-right: 30px;
    & > img {
        width: 200px;
        height: 200px;
    }
}

.u-main-info {
    color: gray;
}

.u-info {
    margin-bottom: 7px;
}

.u-username {
    color: #f0a65a;
    font-size: 20px;
    font-weight: bold;
}


.u-add-car {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}

.u-add-car-button {
    cursor: pointer;
    background-color: #ffc800;
    border-radius: 10px;
    padding: 5px 10px;
    color: #80807f;
    font-weight: bold;
    width: 170px;
    text-align: center;
}


.u-contact-buttons {
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}

.u-contact-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: #ffc800;
    border-radius: 10px;
    padding: 5px 10px;
    color: #80807f;
    font-weight: bold;
    & > img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}

.u-add-friend {
    color: #80807f;
}

.u-contact {
    color: white;
}

@media only screen and (max-width: 600px) {
    .u-u {
        flex-direction: column;
        align-items: center;
    }

    .u-main-info {
        margin-top: 10px;
    }

    .u-contact-buttons {
        margin-left: 0px;
        justify-content: center;
    }

    .u-add-car {
        margin-left: 0px;
        justify-content: center;
    }
}


.u-cars {
    margin-top: 50px;
    margin-left: 20px;
}

.u-cars-label {
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
    margin-bottom: 20px;
}

.u-car {
    margin-bottom: 20px;
    display: flex;
}

.u-car-img {
    cursor: pointer;
    width: $car-img-width;
    height: $car-img-height;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.u-car-model {
    cursor: pointer;
}

.u-car-info {
    margin-left: 10px;
}

.u-car-main-info {
	font-size: 20px;
	font-weight: bold;
}

.u-car-price {
	color: $car-price-color;
}

.u-car-general-info {
	font-size: 15px;
	color: grey;
}

@media only screen and (max-width: 600px) {

    .u-car-img {
        width: 200px;
        height: 140px;
    }

    .u-car-main-info {
        font-size: 16px;
    }

    .u-car-general-info {
        font-size: 13px;
    }
}