@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300;400;500&display=swap');

$menu-background-color: #ffc800;
$filter-background-color: #ffff6b;
$car-price-color: #f0a65a;

$menu-item-font: 'Raleway', sans-serif;
$car-info-font: 'Quicksand', sans-serif;

$menu-transition: 0.5s;

$car-img-width: 200px;
$car-img-height: 140px;

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.main-container {
	background: #fafafa;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.menu-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: $menu-background-color;
	height: 50px;

	& > div {
		padding: 10px;
		transition: $menu-transition;
		border: 0px solid transparent;
    	border-radius: 10px;
	}

	& > div:hover {
		background: #e6b500;
		& > a {
			font-size: 22px;
		}
	}
	
	& > div > a {
		text-decoration: none;
		color: white;
		font-family: $menu-item-font;
		font-size: 20px;
		transition: $menu-transition;
	}
}

.filter-and-content {
	display: flex;
	flex-direction: row;
}

.filters {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: $filter-background-color;
	height: 500px;
	width: 150px;
	
	& > a {
		text-decoration: none;
		color: black;
	}
}

.filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 40px;

	& > input {
		background-color: lightgrey;
		width: 100px;
		border: 1px solid white;
		border-radius: 5px;
	}
}

.filter-label {
	font-size: 13px;
}

.content {
	margin: 5px 10px;
}

.car {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 800px;
	margin: 10px 0;
	font-family: $car-info-font;

	& > img {
		width: $car-img-width;
		height: $car-img-height;
	}
}

.car-info {
	margin-left: 10px;
}

.car-main-info {
	font-size: 16px;
	font-weight: bold;
}

.car-price {
	color: $car-price-color;
}

.car-general-info {
	font-size: 13px;
	color: grey;
}