@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@300;400;500&display=swap");
body {
  background: #fafafa;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fffcc2;
}

#logo {
  cursor: pointer;
  font-size: 50px;
  color: #f0a65a;
  margin: 0px 0px 5px 15px;
}

.user-info {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  font-size: 16px;
}

.user {
  color: #f0a65a;
}

#logout-button {
  cursor: pointer;
  color: grey;
  font-size: 15px;
  font-weight: bold;
  width: 80px;
  height: 30px;
  background-color: #ffc800;
  border: 1px solid #e2ea74;
  border-radius: 5px;
  transition: 0.3s;
}
#logout-button:hover {
  box-shadow: 0 0 5px #a6ad48;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #ffc800;
  height: 50px;
}
.menu-items > div {
  padding: 10px;
  transition: 0.5s;
  border: 0px solid transparent;
  border-radius: 10px;
}
.menu-items > div:hover {
  background: #e6b500;
}
.menu-items > div:hover > a {
  font-size: 22px;
}
.menu-items > div > a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  transition: 0.5s;
}

.filter-and-content {
  display: flex;
  flex-direction: row;
}

.filters {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fffcc2;
  height: 500px;
  width: 150px;
}
.filters > a {
  text-decoration: none;
  color: black;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.filter > input {
  width: 100px;
  border: 1px solid #e2ea74;
  border-radius: 5px;
  transition: 0.3s;
}
.filter > input:focus {
  outline: none !important;
  border-color: #a6ad48;
  box-shadow: 0 0 5px #a6ad48;
}

.filter-label {
  font-size: 13px;
  color: grey;
}

#filter-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #5a3e00;
  font-size: 12px;
  font-weight: bold;
  width: 105px;
  height: 30px;
  background-color: #ffda54;
  border: 1px solid #e2ea74;
  border-radius: 5px;
  transition: 0.3s;
}
#filter-button:hover {
  box-shadow: 0 0 5px #a6ad48;
}

#content {
  margin: 5px 10px;
}

.car {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 800px;
  margin: 10px 0;
  font-family: "Quicksand", sans-serif;
}
.car > img {
  width: 200px;
  height: 140px;
}

.car-info {
  margin-left: 10px;
}

.car-main-info {
  font-size: 16px;
  font-weight: bold;
}

.car-price {
  color: #f0a65a;
}

.car-general-info {
  font-size: 13px;
  color: grey;
}

/*# sourceMappingURL=index.css.map */
