$car-modal-width: 400px;
$car-modal-height: 500px;
$car-info-font: 'Quicksand', sans-serif;

$car-modal-field-width: $car-modal-width - 40;

$car-modal-input-width: 150px;
$car-modal-input-height: 25px;

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.car-modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $car-modal-field-width;
    margin: -10px 0;
}

.car-modal-label {
    user-select: none;
    font-family: $car-info-font;
    font-weight: bold;
    font-size: 20px;
}

#car-modal-close-button {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 28px;
    right: 20px;
}

.car-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: $car-modal-width;
    height: $car-modal-height;
    top: 50%;
    left: 50%;
    margin-left: - ($car-modal-width / 2);
    margin-top: - ($car-modal-height / 2);
    background-color: white;
    box-shadow:0 0 0 1600px rgba(58, 58, 58, 0.65);
    border: 2px solid orange;
    border-radius: 20px;
}

.car-modal-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $car-modal-field-width;
}

.car-modal-field-label {
    user-select: none;
}

.car-modal-field-input {
    font-size: 15px;
    font-family: $car-info-font;
    width: $car-modal-input-width;
    height: $car-modal-input-height;
    padding: 0px 10px;
    border: 2px solid #e2ea74;
    border-radius: 5px;
    transition: 0.3s;
	&:focus {
		outline: none !important;
		border-color: #a6ad48;
    	box-shadow: 0 0 5px #a6ad48;
	}
	&:hover {
		outline: none !important;
		border-color: #a6ad48;
    	box-shadow: 0 0 5px #a6ad48;
	}
}

#car-modal-image {
    outline: none;
    &::-webkit-file-upload-button {
        display: none;
    }
    &::before {
        cursor: pointer;
        content: 'ატვირთვა';
        display: inline-block;
        background-color: #ffd437;
        border: 0px solid;
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

#car-modal-buttons {
    justify-content: space-evenly;
}

#car-modal-submit {
    cursor: pointer;
    background-color: #ffd437;
    height: 30px;
    width: 100px;
    font-weight: bold;
    &:hover {
		outline: none !important;
		border-color: #a6ad48;
    	box-shadow: 0 0 5px #a6ad48;
	}
}

#car-modal-exit {
    cursor: pointer;
    background-color: #ff7070;
    height: 30px;
    width: 100px;
    border-color: red;
    font-weight: bold;
    &:hover {
		outline: none !important;
    	box-shadow: 0 0 5px red;
	}
}

@media only screen and (max-width: 400px) {
    $car-modal-width: 250px;
    $car-modal-height: 550px;

    $car-modal-field-width: $car-modal-width - 20;

    .car-modal-close {
        width: $car-modal-field-width;
        margin: unset;
    }

    .car-modal-label {
        font-size: 15px;
    }

    .car-modal {
        width: $car-modal-width;
        height: $car-modal-height;
        margin-left: - ($car-modal-width / 2);
        margin-top: - ($car-modal-height / 2);
    }

    .car-modal-field {
        flex-direction: column;
        width: $car-modal-field-width;
    }

    .car-modal-field-label {
        font-size: 13px;
    }

    .car-modal-field-input {
        font-size: 14px;
    }

    #car-modal-image {
        width: $car-modal-field-width;
    }

    #car-modal-exit {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 400px) {
    $car-modal-width: 350px;
    $car-modal-height: 450px;

    $car-modal-field-width: $car-modal-width - 40;

    .car-modal-close {
        width: $car-modal-field-width;
    }

    .car-modal {
        width: $car-modal-width;
        height: $car-modal-height;
        margin-left: - ($car-modal-width / 2);
        margin-top: - ($car-modal-height / 2);
    }

    .car-modal-label {
        font-size: 17px;
    }

    .car-modal-field {
        width: $car-modal-field-width;
    }
    
    .car-modal-field-label {
        font-size: 14px;
    }

    .car-modal-field-input {
        font-size: 13px;
    }

    #car-modal-image {
        &::before {
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: 600px) {
    $car-modal-width: 400px;
    $car-modal-height: 500px;

    $car-modal-field-width: $car-modal-width - 40;

    .car-modal-close {
        width: $car-modal-field-width;
    }

    .car-modal {
        width: $car-modal-width;
        height: $car-modal-height;
        margin-left: - ($car-modal-width / 2);
        margin-top: - ($car-modal-height / 2);
    }

    .car-modal-label {
        font-size: 20px;
    }

    .car-modal-field {
        width: $car-modal-field-width;
    }
    
    .car-modal-field-label {
        font-size: unset;
    }

    .car-modal-field-input {
        font-size: 15px;
    }

    #car-modal-image {
        &::before {
            font-size: 14px;
        }
    }
}